body{
    background-color: lightblue;
}

.traffic-post{
    background-color: black;
    min-width: 20px;
    min-height: 100px;
    
}

.light-box{
    background-color: black;
    width: 110px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.red-light{
    background-color: red;
    width: 90px;
    height: 90px;
    margin: 10px;
    color: red;
}
.yellow-light{
 background-color: yellow;
 width: 90px;
 height: 90px;
 margin: 10px;
 color: yellow;
}
.green-light{
 background-color: green;
 width: 90px;
 height: 90px;
 margin: 10px;
 color: rgb(0, 244, 0);
}
.purple-light{
 background-color: purple;
 width: 90px;
 height: 90px;
 margin: 10px;
 color: purple;
}

.btn-primary{
    background-color: purple !important;
}

.btn-primary:hover{
background-color: rgb(164, 0, 164) !important;
} 

.btn-primary:active{
    background-color: rgb(82, 0, 82) !important;
}


.active{
    box-shadow:
    0 0 50px #fff,
    -10px 0 80px currentColor,
    10px 0 80px currentColor;
}
